*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   .nav_items a{
       text-decoration: none;
       color: white;
       text-transform: uppercase;
       padding: 0 1rem;
   }
   header{
       background-color: black;
       color: white;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 1rem 3rem;
   }
   .logo a{
       color: white;
       text-decoration: none;
   }
   .nav-items{
       width: 80%;
       display: flex;
       justify-content: center;
   }
   .nav-items a{
       margin-left: 20px;
   
   }
   footer{
       background-color: black;
       margin-top: 3rem;
   }
   .message{
       color: red;
       padding: 10px;
   }
   .mybtn{
       padding: 20px;
       background-color: black;
       border: none;
       color: white;
       font-weight: bold;
       border-radius: 20px;
       transition: all 1.2s;
   }
   .mybtn:hover{
       background-color: darkslategray;
   }
   .form-control{
       width: 100%;
       padding: 10px;
       border: 1px solid lightgray;
   }
   .form-group{
       padding: 10px;
   }
   .container{
       padding-top: 5%;
       margin: auto;
       width: 80%;
   }
   
   
.footer div{
    display: flex;
    flex-direction: column;
    padding: .6rem 7rem;
    margin-bottom: 2rem;
}

footer div a{
    padding: 1rem;
    color: white;
    text-decoration: none;

}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h2{
    color: white;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
}

hr{
    width: 60rem;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid grey;
}