<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>login Example</title>
 </head>
 <body>
    <header>
        <div class="logo">
            <a href=""><h2>App Name</h2></a>
        </div>
        <div class="nav_items">
            <a href="">home</a>
            <a href="">signup</a>
            <a href="">login</a>
            <a href="">logout</a>
        </div>
    </header>
    <main class="container">
        {% block content %}

         {% endblock content %}
    </main>

    <footer>
        <h2>Footer</h2>
        <hr>
        <div class="footer">
        <div>
            <a href="">Link 1</a>
            <a href="">Link 2</a>
            <a href="">Link 3</a>
        </div>

        <div>
            <a href="">Link 4</a>
            <a href="">Link 5</a>
            <a href="">Link 6</a>
        </div>

        <div>
            <a href="">Link 7</a>
            <a href="">Link 8</a>
            <a href="">Link 9</a>
        </div>
             </div>
    </footer>

 </body>
 </html> 

